<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>criar tarefa</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    
    <style>
        .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    
    .form-signin .checkbox {
      font-weight: 400;
    }
    
    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
    
        </style>
</head>
<body >
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/create" class="nav-link active" aria-current="page">criar</a></li>
            <li class="nav-item"><a href="/list" class="nav-link">listar</a></li>
  
          </ul>
        </header>
        <hr>

        <div class="form-signin">
        	<th:block th:insert="~{validacao}"></th:block>
            <form method="POST" action="/create">
             
              <h3 class="h3 mb-3 fw-normal">Criar tarefa</h3>
          
              <div class="form-floating">
                <input type="text" class="form-control" id="tarefabody" placeholder="titulo da tarefa" name="name">
                <label for="tarefabody">nome da tarefa</label>
              </div>
              
              <div class="form-floating">
                <input type="text" class="form-control" id="datatarefa" placeholder="data" name="date">
                <label for="datatarefa">data dia/mês/ano hh:mm:ss</label>
              </div>
            
              <button class="w-100 btn btn-lg btn-primary" type="submit">criar</button>
             
            </form>
        </div>


      </div>
    
    
</body>
</html>